<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{- partial "head.html" . -}}

<body id="page-top">
    {{- partial "header.html" . -}}
    {{ $data := index site.Data site.Language.Lang "homepage" }}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    {{ with $data.main }}
                    <h1 class="text-white mx-auto my-0 text-uppercase">{{ .header.title }}</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">{{ .header.description }}</h2>
                    <a class="btn btn-primary" href="{{ .header.button.url }}">{{ .header.button.text }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    {{ with $data.about }}
    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8">
                    <h2 class="text-white mb-4">{{ .title }}</h2>
                    <img class="img-fluid" src="{{ .image }}" alt="{{ .title }}" />
                    <p class="text-white-50">{{ .desc }}</p>
                </div>
            </div>
        </div>
    </section>
    {{ end }}
    <!-- Projects-->
    {{ with $data.projects }}
    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{ .card1.img }}" alt="{{ .card1.title }}" />
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>{{ .card1.title }}</h4>
                        <p class="text-black-50 mb-0">{{ .card1.text }}</p>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="{{ .card2.img }}" alt="{{ .card2.title }}" /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">{{ .card2.title }}</h4>
                                <p class="mb-0 text-white-50">{{ .card2.text }}</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="{{ .card3.img }}" alt="{{ .card3.title }}" /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">{{ .card3.title }}</h4>
                                <p class="mb-0 text-white-50">{{ .card3.text }}</p>
                                <hr class="d-none d-lg-block mb-0 me-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Three Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="{{ .card4.img }}" alt="{{ .card4.title }}" /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">{{ .card4.title }}</h4>
                                <p class="mb-0 text-white-50">{{ .card4.text }}</p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ end }}
    <!-- Signup / Contact CTA -->
    <section class="signup-section" id="signup">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-3">{{ i18n "signup_title" }}</h2>
                    <p class="text-white-50 mb-5">{{ i18n "signup_subtitle" }}</p>
                    <a class="btn btn-primary btn-lg mb-3" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#98;&#97;&#115;&#116;&#105;&#100;&#101;&#115;&#97;&#105;&#110;&#116;&#112;&#105;&#101;&#114;&#114;&#101;&#110;&#111;&#121;&#101;&#114;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;?subject={{ i18n "email_subject" }}&body={{ i18n "email_body" }}">
                        {{ i18n "contact_cta" }}
                    </a>
                    <div class="small text-white-50 mt-2">
                        <span style="unicode-bidi:bidi-override; direction:rtl;">moc.liamg@reyonerreiptniaseditsab</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact-->
    <section class="contact-section bg-black">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">{{ i18n "contact_address" }}</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50">{{ site.Params.address }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">{{ i18n "contact_email" }}</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50">
                                <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#98;&#97;&#115;&#116;&#105;&#100;&#101;&#115;&#97;&#105;&#110;&#116;&#112;&#105;&#101;&#114;&#114;&#101;&#110;&#111;&#121;&#101;&#114;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">
                                    <span style="unicode-bidi:bidi-override; direction:rtl;">moc.liamg@reyonerreiptniaseditsab</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">{{ i18n "contact_phone" }}</h4>
                            <hr class="my-4 mx-auto" />
                            <div class="small text-black-50">{{ site.Params.phone }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{- partial "footer.html" . -}}
</body>

</html>
